<!-- <div style="height: 100px; display: flex; align-items: center; justify-content: center;">
        <p>
                Incorrect login attempts have exceeded the limit.
                Please try again after
                <span style="color: red;">
                        <ng-container *ngIf="hours > 0">{{ hours }}:</ng-container>
                        {{ minutes }}:{{ seconds }}
                </span> seconds.
        </p>
</div> -->
<div style="height: 100px; display: flex; align-items: center; justify-content: center;">
        <p>
                Incorrect login attempts have exceeded the limit.<br>
                Please try again after
                <span style="color: red;">
                        {{ hours | number: '2.0' }}:{{ minutes | number: '2.0' }}:{{ seconds | number: '2.0' }}<span class="ms-1" style="color: black;">{{ label
                        }}.</span> 
                </span>
        </p>
</div>