
<div class="body">
    <div class="custom-header">
        <mat-toolbar class="toolbar">
            <div style="cursor: pointer;">
                <img src="\assets\mtnBlack.png" style="height: 40px;margin-top:-38px;" />
            </div>
            <div class="center-image">
                <img src="\assets\meetingsPlusYellow.png" style="height: 40px;margin-top:-38px;" />
            </div>
        </mat-toolbar>
    </div>

    <iframe id="zoomIframe"
        [src]="url"></iframe>
</div>
<!-- <div class="footer">
    <div style="display: flex;justify-content: center;">
    </div>
</div> -->