<div class="toolbar">
    <div>
    </div>
    <div>
        <button class="btn btn-sm" mat-dialog-close><mat-icon>close</mat-icon></button>
    </div>
</div>
<div class="container">
    <div class="text-center mt-5">
        <p>Are you sure you want to delete this summary?</p>
    </div>
    <div class="row p-3">
        <div style="display: flex;justify-content: space-evenly;">
            <button class="btn btn-sm shareButton" mat-dialog-close>Close</button>
            <button class="btn btn-sm shareButton" (click)="deleteSummary()">Delete</button>
        </div>
    </div>
</div>