<!-- <div class="background">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand ps-1">
            <img src="\assets\mtnBlack.png" style="height: 30px;">
        </a>
        <div class="collapse navbar-collapse">
        </div>
        <form class="d-flex pe-1" role="search">
            <img src="\assets\meetingsPlusWhite.png" style="height: 35px;">
        </form>
    </nav>
    <div class="container-fluid"> -->
        <!-- <div class="row" style="margin-top: 17vh;">
            <div class="col-3"></div>
            <div class="col-6 text-center">
                <div class="row mt-2">
                    <h5 class="text-center">
                        Your meeting has been launched
                    </h5>
                </div>
                <div class="row mt-2">
                    <h5 class="text-center">
                        Don’t see your Zoom meeting?
                    </h5>
                </div>
                <div class="row mt-3">
                    <p class="text-center">
                        By joining a meeting, you agree to our Terms of Service and Privacy Statement
                    </p>
                </div>
                <div class="row">
                    <div class="col-3">
                    </div>
                    <div class="col-6">
                        <div class="row mt-3 text-center">
                            <button class="btn btn-lg join">Launch Meeting</button>
                        </div>
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
        <hr>
        <div class="row mt-4">
            <div class="col-4"></div>
            <div class="col-4">
                <p *ngIf="android" class="text-center">Don’t have Zoom Client installed? <a>Download Now Android</a></p>
                <p *ngIf="ios" class="text-center">Don’t have Zoom Client installed? <a>Download Now IOS</a></p>
                <p *ngIf="windows" class="text-center">Don’t have Zoom Client installed? <a>Download Now Windows</a></p>
                <p *ngIf="mac" class="text-center">Don’t have Zoom Client installed? <a>Download Now MAC </a></p>
            </div>
            <div class="col-4"></div>
        </div>
    </div> -->
    <!-- <div class="row" style="margin-top: 10vh;">
        <div class="col-sm-3 col-md-3 col-lg-3"></div>
        <div class="col-sm-6 col-md-6 col-lg-6 text-center">
            <div class="row mt-2">
                <h5 class="text-center">
                    Your meeting has been launched
                </h5>
            </div>
            <div class="row mt-2">
                <h5 class="text-center">
                    Don’t see your Meeting?
                </h5>
            </div>
            <div class="row mt-3">
                <p class="text-center">
                    By joining a meeting, you agree to our Terms of Service and Privacy Statement
                </p>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4">
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="row mt-3 ps-3 pe-3 text-center">
                        <button class="btn btn-lg join" style="color: white;background-color: black;" (click)="openZoomMeeting()">Launch Meeting</button>
                    </div> -->
                    <!-- <div class="row mt-3 ps-3 pe-3 text-center">
                        <a  class="btn btn-lg join" style="color: white;background-color: black;"  (click)="openMeetingLink()">open app</a>
                    </div> -->
                <!-- </div>
                <div class="col-sm-4 col-md-4 col-lg-4"></div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4"></div>
    </div>
    <hr> -->
    <!-- <div class="row mt-4">
        <div class="col-sm-4 col-md-4 col-lg-4"></div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <p *ngIf="android" class="text-center">Don’t have Meetings⁺ installed? <a style="text-decoration: underline;color: blue;">Download Now Android</a></p>
            <p *ngIf="ios" class="text-center">Don’t have Meetings⁺ installed? <a style="text-decoration: underline;color: blue;">Download Now IOS for</a></p>
            <p *ngIf="windows" class="text-center">Don’t have Meetings⁺ installed? <a style="text-decoration: underline;color: blue;">Download Now Windows</a></p>
            <p *ngIf="mac" class="text-center">Don’t have Meetings⁺ installed? <a style="text-decoration: underline;color: blue;">Download Now MAC </a></p>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4"></div>
    </div>
    
</div> -->