<div class="container" style="display: flex;justify-content: center;margin-top: 2%;">
    <div class="outer-div">
        <div class="col-lg-6 col-sm-12 col-12">
            <!-- <div style="display: flex;">
                <div>
                    <mat-icon style="cursor: pointer;" [routerLink]="['/home/meeting-list']">arrow_back</mat-icon>
                </div>
                <div>
                    Go back
                </div>
            </div> -->
            <div  class="gobackDiv">
                <div>
                    <mat-icon style="cursor: pointer;" [routerLink]="['/home/meeting-list']">arrow_back</mat-icon>
                </div>
                <div>
                    Go back
                </div>
            </div>
            <div class="colOne">
              
                <div class="first-Div p-3 mt-3">
                    <div class="iconouterDiv">
                        <div>
                            <p class="labelHead">
                                <span style="font-weight: bold; font-size: 15px;">Send us a mail at</span>
                                <br>
                                <a href="mailto:clientsupport.ng@mtn.ng" style="text-decoration: none; color: inherit;">
                                    <span style="font-size: 16px;">clientsupport.ng@mtn.ng</span>
                                </a>
                            </p>
                        </div>
                        <div>
                            <img src="\assets\Email.png"  class="imgStyle" style="height: 50px;width: 50px;">
                        </div>
                    </div>
                    <div>
                        <div class="text-center">
                        </div>
                    </div>
                </div>
                <div class="first-Div mt-3 p-3" style="background-color: var(--secondary);">
                    <div class="iconouterDiv">
                        <div>
                            <p class="labelHead">
                                <span style="font-weight: bold; font-size: 15px;">Call us on phone</span>
                                <br>
                                <a href="tel:300" style="text-decoration: none; color: inherit;">
                                    <span style="font-size: 16px;">300</span>
                                </a>
                            </p>
                        </div>
                        <div>
                            <img src="\assets\phone.png" class="imgStyle" style="height: 50px;width: 50px;">
                        </div>
                    </div>
                    <div>
                        <div class="text-center">
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>