.background {
  min-height: 66vh;
  /* min-width: 90vh; */
  /* background-color: var(--primary); */
}
.toolbar {
  background-color: var(--primary);
  /* padding: 50px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.center-image {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin-left: -60px;
}
.input{
  margin-top: 1vh;
  padding: 15px 50px 15px 50px;
}

.inputField{
  height: 7vh;
  border-radius: 20px;
  border: 1px solid black;
}

.inputField::placeholder{
  text-align: center;
  color: black;
}

.submit-button {
  background-color: black;
  color: white;
  border-radius: 32px;
}

.navbar{
  background-color:var(--primary) !important;
}

.containercLASS {
  background: var(--primary);
  height: 180px;
  width: 100%;
}

.generatePassword{
  color: black;
  font-size:18px;
}

.box {
  width: 100%;
  height: 80px;
  background-color: white;
  /* border:1px solid white; */
  border-width: 0 0 13px 0;
  /* margin:1rem auto; */
  -webkit-border-radius: 0% 0% 50% 50% / 0% 0% 50% 50%;
  -moz-border-radius: 0% 0% 50% 50% / 0% 0% 50% 50%;
  border-radius: 0% 0% 50% 50% / 0% 0% 50% 50%;
}

.iconDiv {
  display: flex;
  justify-content: space-between;
}

.googleIcon {
  height: 60px;
}

.appleIconOne {
  display: inline-block;
  overflow: hidden;
  height: 45px;
}

.appleIconTwo {
  height: 45px;
}

.windowsIcon {
  height: 45px
}

.iconContainer{
  display: flex;
  justify-content: center;
  align-items: center;

}

@media only screen and (max-width: 844px) {
  .background {
    min-height: 70vh;
    /* Set min-height for smartphones */
  }

  .generatePassword{
    font-size:medium !important;
  }

}


a{
  text-decoration: none;
}
 li{
  font-size: small;
 }