.spacer {
    flex: 1 1 auto;
  }

  .toolbar{
    /* background-color: black; */
    color: white;
    height: 50px;
    display: flex;
    justify-content: end;
    padding: 5px;
  }


  .buttons{
    background-color: black;
    color: white;
  }