<!-- responsive -->

<mat-toolbar class="toolbar">
    <div>
        <img src="\assets\mtnBlack.png" style="height: 40px;" />
    </div>
    <div class="center-image">
        <img src="\assets\meetingsPlusYellow.png" style="height: 40px;" />
    </div>
</mat-toolbar>

<div class="background">
    <div class="container-fluid">
        <div class="row justify-content-center p-3">
            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <div style="display: flex;" (click)="clearStorage()">
                    <div>
                        <mat-icon style="cursor: pointer;">arrow_back</mat-icon>
                    </div>
                    <div class="ms-2">
                        Back to login
                    </div>
                </div>
                <form [formGroup]="ResetForm" #f="ngForm">
                    <h3 class="mt-4" style="font-size: 18px;">Reset Password</h3>
                    <div class="row mt-3">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Enter new password" [type]="hideNew ? 'password' : 'text'"
                                formControlName="password" required>
                            <mat-icon matSuffix style="color: #808080;" (click)="hideNew = !hideNew">{{hideNew ?
                                'visibility_off' :
                                'visibility'}}</mat-icon>
                            <mat-error
                                *ngIf="ResetForm.get('password')?.hasError('required') && ResetForm.get('password')?.dirty">
                                <a style="color: red;" class="errorText">Password is required.</a>
                            </mat-error>

                            <mat-error
                                *ngIf="ResetForm.get('password')?.hasError('minlength') && ResetForm.get('password')?.dirty">
                                <a style="color: red;" class="errorText">Password must be at least 8 characters
                                    long.</a>
                            </mat-error>

                            <mat-error
                                *ngIf="ResetForm.get('password')?.hasError('pattern') && ResetForm.get('password')?.dirty">
                                <a style="color: red;" class="errorText">Password does not meet the criteria.</a>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="row mb-3">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Confirm Password" [type]="hideOld ? 'password' : 'text'"
                                formControlName="conformPassword" required>
                            <mat-icon matSuffix style="color: #808080;" (click)="hideOld = !hideOld">{{hideOld ?
                                'visibility_off' :
                                'visibility'}}</mat-icon>
                            <!-- <mat-error *ngIf="alert">
                                <p style="color: red;">Password Mismatch, Please enter same password! </mat-error> -->
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <button *ngIf="!isLoading" class="saveButton mt-2" [disabled]="!f.valid"
                            (click)="save()">Submit</button>
                        <button *ngIf="isLoading" mat-raised-button class="submit-button mt-2" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span class="visually-hidden">Loading...</span>
                        </button>
                    </div>
                    <div class="row mt-3">
                        <label>Password Description</label>
                        <!-- <ul>
                            <li>At least one letter(lowercase and uppercase).</li>
                            <li>At least one digit.</li>
                            <li>Password should contain at least one special
                                character from the
                                set !#$?@ and no other characters are allowed. </li>
                            <li>A minimum length of 8 characters.</li>
                        </ul> -->
                        <ul>
                            <li>Password must be at least 8 characters long.</li>
                            <li>Password must contain at least one number and both upper case and lowercase letters.</li>
                            <li>Password should contain at least one special character from the set !#$?@ and no other characters are allowed. </li>
                          </ul>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>