<div class="container" style="display: flex;justify-content: center;margin-top: 2%;">

    <div class="outer-div">

        <div style="display: flex;padding-left: 50px;">
            <div>
                <mat-icon style="cursor: pointer;" [routerLink]="['/home/meeting-list']">arrow_back</mat-icon>
            </div>
            <div>
                Go back
            </div>
        </div>
        <div class="top-div">
            <div class="row">
                <div> <label style="font-size: 20px;padding-left: 40px;font-weight: bold;">Update Password</label></div>
            </div>
        </div>

        <div class="input">
            <form [formGroup]="updatePasswordForm" #f="ngForm">
                <div class="row">
                    <div class="form-group">
                        <!-- <label class="form-label">Old Password</label>
                    <input type="password" class="form-control" formControlName="password"> -->
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Enter old password" [type]="hide ? 'password' : 'text'"
                                formControlName="password" required>
                            <mat-icon matSuffix style="color: #808080;" (click)="hide = !hide">{{hide ? 'visibility_off'
                                :
                                'visibility'}}</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Enter new password" [type]="hideNew ? 'password' : 'text'"
                                formControlName="newpassword" required>
                            <mat-icon matSuffix style="color: #808080;" (click)="hideNew = !hideNew">{{hideNew ?
                                'visibility_off' :
                                'visibility'}}</mat-icon>
                            <mat-error
                                *ngIf="updatePasswordForm.get('newpassword')?.hasError('required') && updatePasswordForm.get('newpassword')?.dirty">
                                <a style="color: red;" class="errorText">Password is required.</a>
                            </mat-error>

                            <mat-error
                                *ngIf="updatePasswordForm.get('newpassword')?.hasError('minlength') && updatePasswordForm.get('newpassword')?.dirty">
                                <a style="color: red;" class="errorText">Password must be at least 8 characters
                                    long.</a>
                            </mat-error>

                            <mat-error
                                *ngIf="updatePasswordForm.get('newpassword')?.hasError('pattern') && updatePasswordForm.get('newpassword')?.dirty">
                                <a style="color: red;" class="errorText">Password does not meet the criteria.</a>
                            </mat-error>
                        </mat-form-field>
                        <!-- <div
                            *ngIf="updatePasswordForm.get('newpassword')?.invalid && updatePasswordForm.get('newpassword')?.dirty">
                            <div *ngIf="updatePasswordForm.get('newpassword')?.hasError('required')"> <a
                                    style="color:red;" class="errorText">Password is required.</a> </div>
                            <div *ngIf="updatePasswordForm.get('newpassword')?.hasError('minlength')"> <a
                                    style="color: red;" class="errorText">Password must be at least 8 characters
                                    long.</a></div>
                            <div *ngIf="updatePasswordForm.get('newpassword')?.hasError('pattern')"> <a
                                    style="color: red;" class="errorText">Password does not meet the criteria.</a>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Confirm new password" [type]="hideOld ? 'password' : 'text'"
                                formControlName="confirmPassword" required>
                            <mat-icon matSuffix style="color: #808080;" (click)="hideOld = !hideOld">{{hideOld
                                ?'visibility_off' :'visibility'}}</mat-icon>
                            <mat-error
                                *ngIf="updatePasswordForm.get('confirmPassword')?.hasError('required') && updatePasswordForm.get('confirmPassword')?.dirty">
                                <a style="color: red;" class="errorText">Password is required.</a>
                            </mat-error>

                            <mat-error
                                *ngIf="updatePasswordForm.get('confirmPassword')?.hasError('minlength') && updatePasswordForm.get('confirmPassword')?.dirty">
                                <a style="color: red;" class="errorText">Password must be at least 8 characters
                                    long.</a>
                            </mat-error>

                            <mat-error
                                *ngIf="updatePasswordForm.get('confirmPassword')?.hasError('pattern') && updatePasswordForm.get('confirmPassword')?.dirty">
                                <a style="color: red;" class="errorText">Password does not meet the criteria.</a>
                            </mat-error>

                        </mat-form-field>
                        <!-- <div
                            *ngIf="updatePasswordForm.get('confirmPassword')?.invalid && (updatePasswordForm.get('confirmPassword')?.dirty || updatePasswordForm.get('confirmPassword')?.touched)">
                            <div *ngIf="updatePasswordForm.get('confirmPassword')?.hasError('required')"> <a
                                    style="color: red;" class="errorText">Password is required.</a> </div>
                            <div *ngIf="updatePasswordForm.get('confirmPassword')?.hasError('minlength')"> <a
                                    style="color: red;" class="errorText">
                                    Password must be
                                    at least 8 characters long.</a></div>
                            <div *ngIf="updatePasswordForm.get('confirmPassword')?.hasError('pattern')"> <a
                                    style="color: red;" class="errorText">Password does not meet the criteria.</a>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="text-center">
                        <button *ngIf="!isLoading" class="btn btn-sm saveButton form-control" (click)="save()"
                            [disabled]="!f.valid">Save password</button>
                        <button *ngIf="isLoading" mat-raised-button class="submit-button mt-2" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span class="visually-hidden">Loading...</span>
                        </button>
                    </div>
                </div>
                <div class="row mt-3">
                    <label>Password Description</label>
                    <!-- <ul>
                        <li>At least one letter(lowercase and uppercase).</li>
                        <li>At least one digit.</li>
                        <li>Password should contain at least one special
                            character from the
                            set !#$?@ and no other characters are allowed. </li>
                        <li>A minimum length of 8 characters.</li>
                    </ul> -->
                    <ul>
                        <li>Password must be at least 8 characters long.</li>
                        <li>Password must contain at least one number and both upper case and lowercase letters.</li>
                        <li>Password should contain at least one special character from the set !#$?@ and no other characters are allowed. </li>
                      </ul>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- <div id="meetingSDKElement"> -->
<!-- Meeting SDK renders here when a user starts or joins a Zoom meeting -->
<!-- </div> -->